<div class="container mt-5">
    <h2>{{ title }}</h2>
        <!-- Form for selecting restaurant -->
        <div class="row flex-column align-items-center justify-content-space-between mb-3">
    <form method="POST" action="{{ url_for('views.dashboard') }}" class="px-4">
            <label for="restaurantSelect" class="form-label">Select Restaurant</label> </br>
            <select id="restaurantSelect" name="restaurant_id" class="form-select form-select-lg" required>
                {% for restaurant in current_user.restaurants %}
                <option value="{{ restaurant.id }}" {% if restaurant.id == selected_restaurant_id %}selected{% endif %}>
                    {{ restaurant.name }}
                </option>
                {% endfor %}
            </select>
        
        <button type="submit" class="btn btn-primary">Switch</button>
    </form>
</div>
