<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <i class="fas fa-check-circle" aria-label="Logo"></i> Simply Comply
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbar">
    <div class="navbar-nav">
      {% if current_user.is_authenticated %}
      <a
        href="{{ url_for('views.dashboard') }}"
        class="nav-item nav-link {% if request.endpoint == 'views.dashboard' %}active{% endif %}"
        style="padding: 0.5rem 2rem"
        id="home"
      >
        <i class="fas fa-home" aria-label="Home"></i> Home
      </a>
      <a
        href="{{ url_for('views.templates') }}"
        class="nav-item nav-link {% if request.endpoint == 'views.templates' %}active{% endif %}"
        style="padding: 0.5rem 2rem"
        id="home"
      >
        <i class="fa-solid fa-pen" aria-label="Templates"></i> Templates
      </a>
      {% if current_user.role == 'admin' %}
      <a
        href="{{ url_for('admin.admin_dashboard') }}"
        class="nav-item nav-link {% if request.endpoint == 'admin.admin_dashboard' %}active{% endif %}"
        style="padding: 0.5rem 2rem"
        id="adminDashboard"
      >
        <i class="fas fa-user-shield" aria-label="Admin Dashboard"></i> Admin
        Dashboard
      </a>
      {% endif %}
      <a
        href="{{ url_for('views.profile') }}"
        class="nav-item nav-link {% if request.endpoint == 'views.profile' %}active{% endif %}"
        style="padding: 0.5rem 2rem"
        id="home"
      >
        <i class="bi bi-person-circle" aria-label="Profile"></i> Profile
      </a>
      <a
        href="{{ url_for('auth.logout') }}"
        class="nav-item nav-link"
        style="padding: 0.5rem 2rem"
        id="logout"
      >
        <i class="fas fa-sign-out-alt" aria-label="Logout"></i> Logout
      </a>
      <a
        href="{{ url_for('views.upload') }}"
        class="nav-item nav-link d-flex align-items-center justify-content-center bg-white text-primary rounded-pill px-3 py-2 mx-1"
        id="upload"
      >
        <i class="fas fa-plus mx-1"></i> Upload
      </a>
      <a
        href="{{ url_for('views.create_compliance') }}"
        class="nav-item nav-link d-flex align-items-center justify-content-center bg-white text-primary rounded-pill px-3 py-2 mx-1"
        id="upload"
      >
        <i class="fa-solid fa-arrow-right mx-1"></i> Create
      </a>
      {% else %}
      <a
        href="{{ url_for('auth.login') }}"
        class="nav-item nav-link {% if request.endpoint == 'auth.login' %}active{% endif %}"
        style="padding: 0.5rem 2rem"
        id="login"
      >
        <i class="fas fa-sign-in-alt" aria-label="Login"></i> Login
      </a>
      <a
        href="{{ url_for('auth.register') }}"
        class="nav-item nav-link {% if request.endpoint == 'auth.register' %}active{% endif %}"
        style="padding: 0.5rem 2rem"
        id="signUp"
      >
        <i class="fas fa-user-plus" aria-label="Sign Up"></i> Sign Up
      </a>
      <a
        href="{{ url_for('views.pricing') }}"
        class="nav-item nav-link {% if request.endpoint == 'views.pricing' %}active{% endif %}"
        style="padding: 0.5rem 2rem"
        id="pricing"
      >
        <i class="fas fa-tags" aria-label="Pricing"></i> Pricing
      </a>
      {% endif %}
    </div>
  </div>
</nav>
