<nav class="navbar">
  <div class="logo">
    <h1>Simply Comply</h1>
  </div>
  <div class="menu-toggle" id="menu-toggle">
    <i class="fas fa-bars" id="menu-toggle-icon"></i>
  </div>
  <ul class="nav-list" id="nav-list">
    {% if current_user.is_authenticated %}
    <li class="nav-item"><a href="{{ url_for('views.index') }}">Home</a></li>
    <li class="nav-item"><a href="{{ url_for('views.templates') }}">Templates</a></li>
    {% if current_user.role == 'admin' %}
    <li class="nav-item"><a href="{{ url_for('admin.admin_dashboard') }}">Admin</a></li>
    {% endif %}
    <li class="nav-item"><a href="{{ url_for('views.profile') }}">Profile</a></li>
    <li class="nav-item"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    <li class="nav-item"><a href="{{ url_for('views.upload') }}">Upload</a></li>
    <li class="nav-item"><a href="{{ url_for('create.create_index') }}">Create</a></li>
    {% else %}
    <li class="nav-item"><a href="{{ url_for('views.index') }}">Home</a></li>
    <li class="nav-item"><a href="#features-section">Features</a></li>
    <li class="nav-item"><a href="#pricing-section">Pricing</a></li>
    <li class="nav-item"><a href="#contact-section">Contact</a></li>
    <li class="auth-link"><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li class="auth-link"><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
    {% endif %}
  </ul>
</nav>

<!-- Mobile Navigation -->
<nav class="mobile-nav hidden" id="mobile-nav">
  <div class="mobile-close" id="mobile-close">
    <i class="fas fa-times"></i>
  </div>
  <ul class="mobile-nav-list">
    {% if current_user.is_authenticated %}
    <li class="mobile-nav-item"><a href="{{ url_for('views.index') }}">Home</a></li>
    <li class="mobile-nav-item"><a href="{{ url_for('views.templates') }}">Templates</a></li>
    {% if current_user.role == 'admin' %}
    <li class="mobile-nav-item"><a href="{{ url_for('admin.admin_dashboard') }}">Admin</a></li>
    {% endif %}
    <li class="mobile-nav-item"><a href="{{ url_for('views.profile') }}">Profile</a></li>
    <li class="mobile-nav-item"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    <li class="mobile-nav-item"><a href="{{ url_for('views.upload') }}">Upload</a></li>
    <li class="mobile-nav-item"><a href="{{ url_for('create.create_index') }}">Create</a></li>
    {% else %}
    <li class="mobile-nav-item"><a href="{{ url_for('views.index') }}">Home</a></li>
    <li class="mobile-nav-item"><a href="#features-section">Features</a></li>
    <li class="mobile-nav-item"><a href="#pricing-section">Pricing</a></li>
    <li class="mobile-nav-item"><a href="#contact-section">Contact</a></li>
    <li class="mobile-nav-item"><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li class="mobile-nav-item"><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
    {% endif %}
  </ul>
</nav>
