@import 'navbar';
@import 'footer';
@import 'auth';
// landing page imports
@import 'landing/hero';
@import 'landing/features';
@import 'landing/pricing';
@import 'landing/contact';
// app imports
@import 'app/dashboard';
@import 'app/generate-report';
@import 'app/templates.scss';
@import 'app/admin';
@import 'app/profile.scss';
@import 'app/upload.scss';
@import 'app/create.scss';
@import 'app/create_restaurant.scss';
@import 'app/usage.scss';
@import 'app/choose_plan.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #6c757d;
$gray-dark-color: #343a40;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$navbar-height: 4.6rem;

html {
    scroll-behavior: smooth;

}

body {
  font-family: 'Roboto', sans-serif;;
}

.flash-container {
    position: fixed;
    top: calc(#{$navbar-height, 4rem} + 2rem); // Ensure it's below the navbar
    right: 1rem; // Changed from left to right
    transform: none;
    z-index: 1050;
    width: 400px;
    max-width: 90%;
}
  
.flash-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: $white-color;
  
    &.flash-success {
      background-color: $success-color;
    }
    &.flash-danger {
      background-color: $danger-color;
    }
    &.flash-warning {
      background-color: $warning-color;
      color: $dark-color;
    }
    &.flash-info {
      background-color: $info-color;
    }
}
  
.flash-text {
    flex-grow: 1;
    margin-right: 1rem;
}
  
.flash-close {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 1;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.1);
    }
}

// coming soon

.coming-soon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
// Container
.coming-soon-container {
  text-align: center;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

// Heading
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: $primary-color;
}

// Paragraph
p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: $secondary-color;
}

// Countdown Timer
.countdown {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .time-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;

      span {
          font-size: 2rem;
          font-weight: bold;
          color: $primary-color;
      }

      p {
          margin-top: 0.5rem;
          font-size: 0.9rem;
          color: $secondary-color;
      }
  }
}

// Notify Form
.notify-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  input[type="email"] {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid $secondary-color;
      border-radius: 5px 0 0 5px;
      outline: none;
      flex: 1;
      min-width: 0;
  }

  button {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background-color: $primary-color;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
          background-color: darken($primary-color, 10%);
      }
  }
}

// Social Icons
.social-icons {
  display: flex;
  justify-content: center;

  a {
      color: $secondary-color;
      font-size: 1.5rem;
      margin: 0 0.5rem;
      transition: color 0.3s ease;

      &:hover {
          color: $primary-color;
      }
  }
}


















