@import 'navbar';
@import 'footer';
@import 'auth';
// landing page imports
@import 'landing/hero';
@import 'landing/features';
@import 'landing/pricing';
@import 'landing/contact';
// app imports
@import 'app/dashboard';
@import 'app/generate-report';
@import 'app/templates.scss';
@import 'app/admin';
@import 'app/profile.scss';
@import 'app/upload.scss';
@import 'app/create.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #6c757d;
$gray-dark-color: #343a40;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$navbar-height: 4.6rem;

html {
    scroll-behavior: smooth;

}

.flash-container {
    position: fixed;
    top: calc(#{$navbar-height, 4rem} + 2rem); // Ensure it's below the navbar
    right: 1rem; // Changed from left to right
    transform: none;
    z-index: 1050;
    width: 400px;
    max-width: 90%;
}
  
.flash-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: $white-color;
  
    &.flash-success {
      background-color: $success-color;
    }
    &.flash-danger {
      background-color: $danger-color;
    }
    &.flash-warning {
      background-color: $warning-color;
      color: $dark-color;
    }
    &.flash-info {
      background-color: $info-color;
    }
}
  
.flash-text {
    flex-grow: 1;
    margin-right: 1rem;
}
  
.flash-close {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 1;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.1);
    }
}























