@import 'navbar';
@import 'footer';
@import 'auth';
// landing page imports
@import 'landing/hero';
@import 'landing/features';
@import 'landing/pricing';
@import 'landing/contact';
// app imports
@import 'app/dashboard';
@import 'app/generate-report';
@import 'app/templates.scss';
@import 'app/admin';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #6c757d;
$gray-dark-color: #343a40;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


html {
    scroll-behavior: smooth;

}























