<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="url_for('static', filename='index.css')">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %} 
  {% for category, message in messages %} 
  {% if category == 'error' %}
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endwith %}

    <nav class="navbar">
        <div class="logo">
            <h1>Simply Comply</h1>
        </div>
        <div class="menu-toggle" id="menu-toggle">
            <i class="fas fa-bars" id="menu-toggle-icon"></i>
        </div>
        <ul class="nav-list" id="nav-list">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#features-section">Features</a></li>
            <li class="nav-item"><a href="#pricing-section">Pricing</a></li>
            <li class="nav-item"><a href="#contact-section">Contact</a></li>
            <li class="auth-link"><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li class="auth-link"><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
        </ul>
    </nav>
    <nav class="mobile-nav hidden">
        <ul class="mobile-nav-list">
            <li class="mobile-nav-item"><a href="#">Home</a></li>
            <li class="mobile-nav-item"><a href="#features-section">Features</a></li>
            <li class="mobile-nav-item"><a href="#pricing-section">Pricing</a></li>
            <li class="mobile-nav-item"><a href="#contact-section">Contact</a></li>
            <li class="mobile-nav-item"><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li class="mobile-nav-item"><a href="{{ url_for('auth.register') }}">Sign Up</a></li>   
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    {% include "includes/footer.html" %}
    <!-- script -->
    <script
      type="text/javascript"
      src="{{url_for('static', filename='index.js')}}"
    ></script>
  </body>
</html>
